body {
   font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #2b3035;
    color: gray;
}

.ftco-section {
    padding: 7em 0;
}

.table thead th, 
.table tbody td  {
    border: none;
    padding: 20px 30px;
    font-size: 14px;
    color: #fff;
    border-bottom: 4px solid #2b3035;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}